%container,
.container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    @include respond-to('desktop-l') {
        max-width: 100%;
        padding: 0 30px;
    }
    @include respond-to('mobile') {
        padding: 0 16px;
    }
}

