/**
 *  Colors
 */
$c_main_gray: #878787; // Just example
$c_main_dark: #1d1d1b; // Just example

/**
 *  Fonts
 */
$f_gotham:  'Gotham Pro', sans-serif; // Just example
$f_proxima: 'Proxima Nova', sans-serif; // Just example
