.auctions {
    &__grid {
        margin: 0 0 0 -30px;
        @include respond-to('mobile') {
            margin: 0 0 0 -24px;
        }
    }
    &__title {
        margin-bottom: 48px;
        text-align: center;
        @include respond-to('mobile-sm') {
            text-align: left;
        }
    }
    &__item {
        opacity: 0;
        @include respond-to('mobile-sm') {
            opacity: 0;
        }
        @include animate(all);
        &-text {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 14px;
        }
        &:before {
            display: none;
        }
        &.swiper-slide-active {
            opacity: 1;
            @include animate(all);
            &+.swiper-slide {
                opacity: 1;
                @include respond-to('mobile-sm') {
                    opacity: 0;
                }
                @include animate(all);
                &+.swiper-slide {
                    opacity: 1;
                    @include respond-to('mobile-sm') {
                        opacity: 0;
                    }
                    @include animate(all);
                    &+.swiper-slide {
                        opacity: 1;
                        @include respond-to('mobile-sm') {
                            opacity: 0;
                        }
                        @include animate(all);
                    }
                }
            }
        }
    }
    &__card {
        height: 200px;
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 57px 72px;
        border-radius: 16px;
        margin: 0 0 24px;
        img {
            object-fit: contain;
        }
    }
    &__wrapper {
        overflow: visible;
        width: 100%;
    }
    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__link {
        font-weight: 900;
        font-family: 'Ferry';
        color: $primary;
        text-decoration: unset;
        display: flex;
        align-items: center;
        justify-items: center;
        .icon {
            transform: translateY(3px);
            margin-left: 5px;
        }
    }
}
