.header {
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .header {
            &__info,
            &__menu {
                height: 0px;
                opacity: 0;
                padding: 0;
                margin: 0;
                @include animate(all);
            }
        }
    }
    a {
        text-decoration: unset;
    }
    &__mobile {
        display: none;
        border-bottom: 1px solid $bg;
        z-index: 100;
        padding: 20px 0;
        @include respond-to('tablet') {
            display: block;
        }
        &.sticky {
            top: 0;
            left: 0;
            width: 100%;
            position: fixed;
            @include animate(all);
        }
    }
    &__catalog {
        padding: 16px 0;
        @include respond-to('tablet') {
            padding: 0;
            flex-wrap: wrap;
        }
        @include respond-to('mobile-sm') {
            width: 100%;
        }
        &-hidden {
            position: relative;
            @include respond-to('tablet') {
                width: 100%;
                margin: 0 0 24px 0;
            }
            .btn {
                -webkit-mask-size: contain!important;
                mask-size: contain!important;
                padding: 0;
                @include respond-to('tablet') {
                    width: 100%;
                }
                .icon {
                    width: 28px;
                    height: 28px;
                    -webkit-mask-size: contain!important;
                    mask-size: contain!important;
                    -webkit-mask-position: 50% 50% !important;
                    mask-position: 50% 50% !important;
                    background-color: $white;
                    margin: 9px 15px;
                    transform: rotate(0deg);
                    @include animate(all);
                    @include respond-to('tablet') {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        margin: 0;
                    }
                }
                .title {
                    padding: 20px 45px;
                    border-left: 2px solid transparentize($black, 0.9);
                    @include respond-to('tablet') {
                        width: calc(100% - 110px);
                    }
                }
                &:hover,
                &:active,
                &:focus {
                    .icon {
                        transform: rotate(360deg);
                        @include animate(all);
                        @include respond-to('tablet') {
                            transform: translateY(-50%) rotate(360deg);
                        }
                    }
                }
            }
        }
        &-menu {
            @include respond-to('tablet') {
                width: 100%;
                margin-bottom: 24px;
            }
            a {
                font-size: 16px;
                font-family: $fontFerry;
                font-weight: 900;
                color: $bgDark;
                @include respond-to('desktop') {
                    font-size: 14px;
                }
                @include respond-to('laptop') {
                    font-size: 11px;
                }
                @include respond-to('tablet') {
                    font-size: 16px;
                }
                &:hover,
                &:active,
                &:focus {
                    color: $fontGray;
                }
            }
            .menu-item {
                margin-right: 50px;
                @include respond-to('desktop-l') {
                    margin-right: 20px;
                }
                @include respond-to('desktop') {
                    margin-right: 10px;
                }
                @include respond-to('tablet') {
                    margin: 0 0 24px 0;
                    text-align: center;
                }
                &:last-child {
                    margin-right: 0;
                    @include respond-to('tablet') {
                        margin: 0;
                    }
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        width: 100%;
        @include respond-to('tablet') {
            padding: 20px 0 0;
            display: none;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 101;
            left: 0;
            height: 100vh;
            overflow-y: auto;
        }
    }
    &__menu {
        background-color: $bgDark;
        color: $white;
        padding: 20px 0;
        height: auto;
        opacity: 1;
        @include animate(all);
        @include respond-to('tablet') {
            order: 1;
            padding: 24px 24px 40px;
            margin: 0;
        }
        a {
            color: $white;
            font-weight: 600;
            position: relative;
            &:before {
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $secondary;
                left: 0;
                bottom: -5px;
                content: '';
                opacity: 0;
                @include animate(all);
            }
            &:hover,
            &:active,
            &:focus {
                color: $fontLight;
                @include animate(all);
                &:before {
                    opacity: 1;
                    @include animate(all);
                }
            }
            @include respond-to('desktop') {
                font-size: 12px;
            }
            @include respond-to('laptop') {
                font-size: 10px;
            }
            @include respond-to('tablet') {
                font-size: 16px;
            }
        }
        .menu-item {
            margin-right: 45px;
            @include respond-to('desktop-l') {
                margin-right: 25px;
            }
            @include respond-to('desktop') {
                margin-right: 15px;
            }
            @include respond-to('tablet') {
                margin: 0 0 24px 0;
            }
            &:last-child {
                @include respond-to('tablet') {
                    margin: 0;
                }
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include respond-to('tablet') {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .navbar {
                @include respond-to('tablet') {
                    margin-bottom: 40px;
                }
            }
        }
        &-social {
            a {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $bgGray;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__main {
        background-color: $white;
        @include respond-to('tablet') {
            order: 0;
            margin: 0;
            flex-grow: 1;
        }
        .container {
            @include respond-to('tablet') {
                height: 100%;
            }
        }
        &-wrapper {
            @include respond-to('tablet') {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $bg;
        padding: 28px 0;
        height: auto;
        opacity: 1;
        @include animate(all);
        @include respond-to('laptop') {
           flex-wrap: wrap;
            padding: 16px 0;
        }
        @include respond-to('tablet') {
            border-bottom: unset;
            padding: 0;
            width: 100%;
        }
        &>* {
            margin-right: 30px;
            @include respond-to('desktop-l') {
                margin-right: 10px;
            }
            @include respond-to('tablet') {
                margin: 0 0 24px 0;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    &__catalog {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 290px;
        height: 61px;
        @include respond-to('tablet') {
            order: 1;
            margin: 0;
        }
        @include respond-to('mobile-sm') {
            width: 200px;
        }
        img {
            object-fit: contain;
        }
    }
    &__lang {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        @include respond-to('laptop') {
            //order: 5;
        }
        @include respond-to('tablet') {
            order: 5;
            width: auto;
            margin: 0 0 24px 0;
        }
        &-item {
            margin: 0;
            padding: 5px 12px;
            border-right: 1px solid $fontLight;
            @include animate(all);
            @include respond-to('tablet') {
                padding: 0px;
                width: auto;
                text-align: center;
            }
            &:before {
                display: none;
            }
            &:first-child {
                padding: 5px 12px 5px 0;
                @include respond-to('tablet') {
                    padding: 0px;
                }
            }
            &:last-child {
                padding: 5px 0 5px 12px;
                border-right: unset;
                @include respond-to('tablet') {
                    padding: 0px;
                }
            }
            &.active {
                @include respond-to('tablet') {
                    overflow: hidden;
                }
                a {
                    color: $white;
                }
            }
            a {
                color: $fontLight;
                font-weight: 600;
                &:hover,
                &:active,
                &:focus {
                    color: $white;
                }
                @include respond-to('tablet') {
                    padding: 14px;
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
    &__youtube {
        @include animate(all);
        &-link {
            border-radius: 4px;
            overflow: hidden;
            color: $white;
            font-weight: 900;
            font-family: $fontFerry;
            display: flex;
            align-items: stretch;
            justify-content: center;
            background-color: $error;
            @include animate(all);
            &:hover,
            &:active,
            &:focus {
                background-color: $bright;
                @include animate(all);
                color: $white;
                .text {
                    background-color: $bright;
                    @include animate(all);
                    color: $white;
                }
            }
            @include respond-to('tablet') {
                order: 6;
                width: 100%;
                margin: 0 0 24px 0;
                padding: 0 45px 0 0;
            }
            .text {
                padding: 12px 16px;
                background-color: $error;
                @include animate(all);
            }
            .icon {
                background-color: $bright;
                padding: 12px 9px;
                font-size: 26px;
                border-radius: 4px;
                @include respond-to('tablet') {
                    align-self: flex-end;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100%;
                }
            }
        }
    }
    &__search {
        display: flex;
        align-items: stretch;
        justify-content: center;
        border-radius: 4px;
        overflow: hidden;
        width: 25%;
        @include respond-to('desktop-l') {
            width: 25%;
        }
        @include respond-to('laptop') {
            order: 7;
            width: 100%;
            margin: 20px 0 0 0;
        }
        @include respond-to('tablet') {
            margin: 0 0 24px 0;
        }
        .search-field {
            padding: 12px 16px;
            border: 1px solid $bgLight;
            background-color: $bg;
            color: $fontGray;
            font-weight: 500;
            font-size: 16px;
            border-radius: unset;
            @include respond-to('desktop') {
                font-size: 14px;
            }
            &::placeholder {
                color: $fontGray;
                font-weight: 500;
                font-size: 16px;
            }
        }
        .icon {
            padding: 13px;
            color: $primary;
            border: 2px solid $primary;
            border-radius: 4px;
            font-size: 17px;
            cursor: pointer;
            @include animate(all);
            background-color: $white;
            &:hover,
            &:active,
            &:focus {
                color: $secondary;
                border: 2px solid $secondary;
                @include animate(all);
            }
        }
    }
    &__messengers {
        @include respond-to('tablet') {
            order: 4;
            width: 20%;
            justify-content: flex-end;
            margin: 24px 0 24px 0;
        }
        @include respond-to('mobile-sm') {
            width: 100%;
            justify-content: center;
        }
        .social-item {
            margin: 0 12px 0 0;
            &:last-child {
                margin: 0;
            }
            .icon {
                transform: scale(1.0);
                @include animate(all);
            }
            a {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 18px;
            }
            .icon-telegram {
                background-color: #0798E3;
            }
            .icon-viber {
                background-color: #474FA0;
            }
            .icon-facebook {
                background-color: #3B5998;
            }
            .icon-instagram {
                background: radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
            }
            &:hover,
            &:active,
            &:focus {
                .icon {
                    transform: scale(1.05);
                    @include animate(all);
                }
            }
        }
    }
    &__phones {
        @include respond-to('tablet') {
            order: 3;
            width: 80%;
            margin: 24px 0 24px 0;
        }
        @include respond-to('mobile-sm') {
            width: 100%;
            text-align: center;
            margin-top: 10px !important;
        }
        .dropdown {
            &__header {
                min-width: unset;
                padding: 0;
                font-family: $fontFerry;
                font-size: 18px;
                font-weight: 900;
                @include respond-to('desktop-l') {
                    font-size: 14px;
                }
                @include respond-to('mobile-sm') {
                    font-size: 24px;
                    line-height: 1em;
                }
                &-item {
                    margin-bottom: 5px;
                    @include respond-to('mobile-sm') {
                        margin-bottom: 0px;
                    }
                }
            }
            a {
                color: $font;
            }
            .icon {
                margin-left: 5px;
                color: $font;
                font-size: 22px;
                font-weight: 900;
                @include respond-to('mobile-sm') {
                    transform: translateY(5px);
                }
            }
        }
        .modal-inline {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $secondary;
            font-weight: 600;
            @include respond-to('tablet') {
               display: none;
            }
            &:hover,
            &:active,
            &:focus {
                color: $primary;
            }
            .icon {
                margin-right: 5px;
            }
            .title {
                text-decoration: underline;
            }
        }
    }
    &__burger {
        display: none;
        @include respond-to('tablet') {
            display: flex;
            order: 0;
            margin: 0;
        }
    }
    &__phone {
        &-mobile {
            display: none;
            position: relative;
            @include respond-to('tablet') {
                order: 2;
                margin: 0;
            }
            .icon {
                font-size: 16px;
                color: $white;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                background: $secondaryGradient;
                align-items: center;
                justify-content: center;
                display: flex;
                position: relative;
                z-index: 1;
                filter: saturate(100%);
                -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
                animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            }
            .circle {
                content: '';
                display: block;
                width: 130%;
                height: 130%;
                position: absolute;
                top: 50%;
                left: 50%;
                background: $secondaryGradient;
                opacity: 20%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 0;
                -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
            @include respond-to('tablet') {
                display: flex;
            }
            &:hover,
            &:active,
            &:focus {
                .icon {
                    outline: none;
                    @include animate(all);
                    filter: saturate(300%);
                }
            }
        }
    }
    &.nav-active {
        .header__wrapper {
            @include respond-to('tablet') {
                display: flex;
            }
        }
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: translate(-50%, -50%) rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: translate(-50%, -50%) rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}


