.navbar,
.menu,
.sub-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include respond-to('tablet') {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    li {
        margin-bottom: 0;
        @include respond-to('tablet') {
            margin: 0 0 24px 0;
        }
        &:before {
            display: none;
        }
        &.current-menu-item,
        &.active {
            &>a {
                color: $secondary;
            }
        }
    }
    a {
        letter-spacing: 6%;
        text-decoration: none;
    }
}

.menu {
    &-item-has-children {
        position: relative;
        @include respond-to('tablet') {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        &:before {
            display: block !important;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            left: 0;
            background-color: transparent;
            height: 25px;
            content: "";
            opacity: 0;
        }
        &:after {
            display: none;
            position: static;
            width: 25px;
            top: 100%;
            left: 0;
            background-color: transparent;
            height: 25px;
            font-family: 'icomoon';
            content: "\e908";
            font-size: 18px;
            color: $secondary;
            order: 1;
            @include animate(all);
            transform: translateY(5px) translateX(5px);
            @include respond-to('tablet') {
                display: inline-block;
            }
        }
        &>a {
            @include respond-to('tablet') {
                order: 0;
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            width: 100%;
            top: calc(100% + 15px);
            left: 0;
            background-color: $white;
            padding: 20px 10px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 4px;
            box-shadow: $shadow;
            min-width: 150px;
            @include respond-to('tablet') {
                position: static;
                box-shadow: unset;
                padding: 20px 10px 0;
                order: 2;
            }
            .menu-item {
                margin: 0 0 10px 0;
                &:last-child {
                    margin: 0;
                    @include respond-to('tablet') {
                        margin: 0;
                    }
                }
                @include respond-to('laptop') {
                    margin: 0 0 5px 0;
                }
                @include respond-to('tablet') {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            a {
                font-size: 14px;
                font-family: $fontFerry;
                font-weight: 900;
                color: $bgDark;
                @include respond-to('laptop') {
                    font-size: 12px;
                }
                @include respond-to('tablet') {
                    font-size: 16px;
                }
                &:hover,
                &:active,
                &:focus {
                    color: $fontGray;
                }
            }
        }
        &:hover,
        &:active,
        &:focus {
            .sub-menu {
                display: block;
            }
            &:after {
                @include animate(all);
                transform: translateY(5px) translateX(5px) rotate(90deg);
            }
        }
    }
}
