.navbar,
.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
        margin-bottom: 0;
        &:before {
            display: none;
        }
        &.current-menu-item,
        &.active {
            a {
                color: $secondary;
            }
        }
    }
    a {
        letter-spacing: 6%;
        text-decoration: none;
    }
}

.menu {

}
