.navbar,
.menu,
.sub-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
        margin-bottom: 0;
        &:before {
            display: none;
        }
        &.current-menu-item,
        &.active {
            &>a {
                color: $secondary;
            }
        }
    }
    a {
        letter-spacing: 6%;
        text-decoration: none;
    }
}

.menu {
    &-item-has-children {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: transparent;
            height: 25px;
        }
        .sub-menu {
            display: none;
            position: absolute;
            width: 100%;
            top: calc(100% + 15px);
            left: 0;
            background-color: $white;
            padding: 20px 10px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 4px;
            box-shadow: $shadow;
            min-width: 150px;
            .menu-item {
                margin: 0 0 10px 0;
                &:last-child {
                    margin: 0;
                }
            }
            a {
                font-size: 14px;
                font-family: $fontFerry;
                font-weight: 900;
                color: $bgDark;
                &:hover,
                &:active,
                &:focus {
                    color: $fontGray;
                }
            }
        }
        &:hover,
        &:active,
        &:focus {
            .sub-menu {
                display: block;
            }
        }
    }
}
