.product {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-weight: 500;
            color: $fontGray;
            justify-content: flex-start;
            &:last-child {
                justify-content: flex-end;
                font-weight: 700;
                color: $accent;
                margin-left: 30px;
                text-align: right;
            }
        }
    }
    &__info {
        width: 40%;
        margin-bottom: 32px;
        margin-top: -20px;
        @include respond-to('laptop') {
            width: 100%;
            margin-top: 0px;
        }
        .product__title {
            @include respond-to('laptop') {
                display: none;
            }
        }
    }
    &__title {
        &+h3 {
            span {
                @include respond-to('mobile-sm') {
                    display: block;
                }
            }
        }
    }
    &__buttons {
        margin-bottom: 40px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        .btn {
            width: calc(50% - 8px);
            @include animate(all);
            transform: scale(1);
            &:hover,
            &:active,
            &:focus {
                @include animate(all);
                transform: scale(1.05);
            }
            @include respond-to('mobile-sm') {
                width: 100%;
            }
            &:first-child {
                margin: 0 16px 0px 0;
                @include respond-to('mobile-sm') {
                    margin: 0 0 16px;
                }
            }
            &:nth-child(2) {
                margin: 0 0 0px 0;
                @include respond-to('mobile-sm') {
                    margin: 0 0 16px;
                }
            }
        }
    }
    &__content {
        p {
            font-size: 16px;
        }
    }
    &__image {
        width: calc(60% - 60px);
        @include respond-to('laptop') {
            width: 100%;
            margin-bottom: 30px;
        }
        &_loupe {
            //display: flex;
            //align-items: center;
            //justify-content: space-between;
        }
        &_slider {
            &-small {
                width: 100%;
                //margin-right: 50px;
                //height: 100%;
                //flex-direction: column;
                //align-items: center;
                //justify-content: space-between;
                //overflow: hidden;
                margin-right: -25px;
                @include respond-to('mobile-sm') {
                    margin-right: -10px;
                }
                &-counter {
                    display: none;
                    .current {
                        font-size: 16px;
                    }
                    .all {
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .separator {
                        margin: 0 5px;
                        display: inline-block;
                    }
                }
                .slick-arrow,
                .slick-arrow .icon {
                    height: auto;
                    position: static;
                    background-color: transparent;
                }
                .slick-arrow {
                    height: 20px;
                    position: absolute;
                    margin: 0;
                    &:before {
                        color: $black;
                        font-family: 'icomoon';
                        content: "\e908";
                    }
                }
                .slick-next {
                    @include respond-to('mobile') {
                        right: -20px;
                    }
                }
                .slick-prev {
                    @include respond-to('mobile') {
                        left: -20px;
                    }
                    &:before {
                        display: inline-block;
                        transform: rotate(-180deg);
                    }
                }
                .slick-list,
                .slick-track,
                .slick-slide {
                    //width: 100% !important;
                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
                .slick-list {
                    //overflow: hidden;
                    margin-right: -25px;
                    @include respond-to('mobile-sm') {
                        margin-right: -10px;
                    }
                }
                .slick-slide {
                    margin: 0 25px 0 0;
                    border: 1px solid transparent;
                    height: 150px;
                    border-radius: 16px;
                    overflow: hidden;
                    @include animate(all);
                    @include respond-to('mobile-sm') {
                        height: 100px;
                        margin: 0 10px 0 0;
                    }
                    img {
                        object-fit: cover;
                    }
                    &.slick-current {
                        border: 1px solid $secondary;
                        @include animate(all);
                    }
                }
                .slick-arrow {
                    .icon {
                        color: $font;
                        font-size: 15px;
                        @include animate(all);
                        &:hover,
                        &:focus {
                            color: $font;
                            @include animate(all);
                        }
                    }
                }
                &-slide {
                    &_video {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\ea1c";
                            font-family: 'icomoon';
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            font-size: 40px;
                            color: $secondary;
                        }
                    }
                }
            }
            &-main {
                width: 100%;
                height: 470px;
                position: relative;
                z-index: 0;
                border-radius: 26px;
                overflow: hidden;
                margin-bottom: 24px;
                @include respond-to('mobile-sm') {
                    height: 230px;
                }
                .slick-list {
                    height: auto !important;
                }
                .slick-track {
                    display: flex;
                    align-items: stretch;
                }
            }
            &-status {
                padding: 20px;
                position: absolute;
                z-index: 5;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .product-item__label,
                .product-item__favorite {
                    position: static;
                }
            }
            &-big {
                height: 100%;
                background-color: $white;
                overflow: hidden;
                z-index: 1;
                position: relative;
                .slick-slide {
                    z-index: 1 !important;
                    display: inline-block;
                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
                .slick-current,
                .slick-active {
                    z-index: 99 !important;
                }
                .slick-list,
                .slick-track {
                    height: 100% !important;
                }
                &-slide {
                    background-color: $white;
                    height: 100%;
                    img {
                        object-fit: cover;
                    }
                    &_video {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\ea1c";
                            font-family: 'icomoon';
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            font-size: 60px;
                            color: $secondary;
                        }
                    }
                }
            }
        }
        .product__title {
            display: none;
            @include respond-to('laptop') {
                display: block;
            }
        }
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include respond-to('laptop') {
            flex-wrap: wrap;
        }
    }
    & + .top-auto {
        @include respond-to('mobile') {
            order: 2;
        }
        .grid {
            flex-wrap: nowrap;
        }
        .top-auto__grid {
            overflow: visible;
        }
    }
}

.card-sidebar {
    margin-bottom: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__image {
        width: 586px;
        margin-right: 115px;
        a {
            &:after {
                display: none;
            }
        }
        &_loupe {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            height: 100%;
        }
        &_slider-small {
            height: 100%;
        }
    }
    .slick-slide {
        outline: none !important;
        @include animate(all);
        &:hover,
        &:active,
        &:focus {
            outline: 0;
            outline: none !important;
            border: 1px solid $secondary;
        }
    }
}

.zoomContainer,
.zoomLens,
.zoomWindowContainer {
    z-index: 9;
}

.zoomWindow {
    border: 1px solid $secondary !important;
    border-radius: 26px;
}
