.viber-form {
    color: $white;
    .container {
        @include respond-to('mobile-sm') {
            padding: 0;
        }
    }
    &__wrapper {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 105px;
        text-align: center;
        border-radius: 16px;
        position: relative;
        @include respond-to('desktop') {
            padding: 45px 50px;
        }
        @include respond-to('mobile-sm') {
            padding: 75px 16px 45px;
            border-radius: 0px;
        }
        &:before {
            border-radius: 16px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            content: '';
            display: block;
            background-color: transparentize($primary, 0.3);
            z-index: 0;
            @include respond-to('mobile-sm') {
                border-radius: 0px;
            }
        }
    }
    &__content {
        z-index: 1;
        position: relative;
        margin-bottom: 40px;
        .title {
            margin-bottom: 24px;
            text-align: center;
            color: $white;
        }
        .text {
            width: 78%;
            font-size: 16px;
            font-weight: 500;
            margin: 0 auto;
        }
    }
    &__form {
        z-index: 1;
        position: relative;
        margin: 0 auto;
        width: 78%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond-to('desktop') {
            width: 100%;
        }
        @include respond-to('tablet') {
            flex-wrap: wrap;
        }
        &>* {
            width: calc(33.3% - 12px);
            @include respond-to('tablet') {
                width: calc(50% - 12px);
                margin: 0;
            }
            @include respond-to('mobile-sm') {
                width: 100%;
            }
        }
        input {
            margin-right: 24px;
            @include respond-to('tablet') {
                margin: 0;
            }
            &:first-child {
                @include respond-to('mobile-sm') {
                    margin-bottom: 24px;
                }
            }
        }
        .btn {
            padding: 23px 12px;
        }
        .button-wrap {
            position: relative;
            @include respond-to('tablet') {
                margin-top: 24px;
                width: 100%;
            }
            .text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% + 10px);
                width: 100%;
            }
        }
    }
    &__icon {
        width: 106px;
        height: 106px;
        border-radius: 16px;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -60px;
        .icon {
            color: $white;
            font-size: 55px;
            -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        }
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
